{% extends "base/base.html" %} {% block body %}

<body>
    <script type="text/javascript" language="javascript">
    function test(formName) {
        alert(formName);
        document.getElementById(formName).submit();
    }
    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% include "base/nav.html" %}
                <div class="page-header">
                    <h1>
                    节假日列表
                </h1>
                </div>
                <table class="table" align="center">
                    <tr class="warning">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="right">
                            <a href="{{ url_for('userAdd') }}">
                                <button type="button" class="btn btn-sm btn-primary">添加</button>
                            </a>
                            <a href="{{ request.referrer }}">
                                <button type="button" class="btn btn-sm btn-default">返回</button>
                            </a>
                        </td>
                    </tr>
                    {% for option in titles %}
                    <th>
                        <div align="center">{{ option|safe }}</div>
                    </th>
                    {% endfor %}
                    {% for user in users %}
                    <tr class="success">
                        {% for option in user %}
                        <td align="center">{{ option }}</td>
                        {% endfor %}
                        <td>
                            <a href="{{ url_for('userEdit') }}">
                                <div align="center">
                                    <button type="button" class="btn btn-primary">修改</button>
                                </div>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="warning">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="right">
                            <a href="{{ url_for('userAdd') }}">
                                <button type="button" class="btn btn-sm btn-primary">添加</button>
                            </a>
                            <a href="{{ request.referrer }}">
                                <button type="button" class="btn btn-sm btn-default">返回</button>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
{% endblock %}
